body {
    color: black;
    background-color: #f2f2f2;
}

li {
    font-family: 'Playfair Display SC', serif;
}

.navigation {
    background-color: #fff;
    text-align: center;
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    padding: 0;
    z-index: 999;
    padding: 5px;
}

.navigation a {
    text-decoration: none;
    color: #000;
    display: block;
    
}

.navigation ul li ul li a {
    padding: 20px;
}


.others {
    background-color: rgba(255, 255, 255, 0.9);
}

.now {
    background-color: rgba(230, 230, 230, 0.9);
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    padding:0;     
    margin:0;  
}

.navigation li:hover {
    background-color: rgba(230, 230, 230, 0.9);
}

.navigation li {      
    float:left; 
}  

.navigation li ul li {    
    float:none;   
}    

.navigation li ul {    
    display:none;     
    position:absolute;     
    z-index:1 ;   
}   

.navigation li:hover ul {    
    display:block;   
}    

.indexbody {
  background: url(metsa.png) no-repeat center center fixed;
  width: 100%;
}

.contactsheader {
  background: linear-gradient(rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0.3)), url(tukit.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0px;
  height:300px;
}

.infoheader {
  background: linear-gradient(rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0.3)), url(puut.jpeg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0px;
  height:300px;
}

.newsheader {
    background: linear-gradient(rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0.3)),url(up.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0px;
  height:300px;
}

.blog-post {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    max-width: 700px;
    background-color: #fff;
    line-height: 150%;
}

.blog-post a {
    color: #000;
}

.resize {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.video-container {
    position: relative;
    padding: 56.25%;
    padding-top: 25px;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 89%;
    height: 100%;
}

h1 {
    text-align: center; 
    position: relative;
    top: 100px;
    font-size: 3em;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    z-index: 999;
    color: #fff;
    
}

h2 {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    color: black;
}

#face {
    max-width: 200px;
}

.footer li {
   display: inline-block;
    margin: 0px 5px;
}

.footer {
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    margin-top: 20px;
}

#indexfooter li {
    color: black;
}

#indexfooter {
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: inherit;
}

#welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3em;
  color: #fff;
}

@media screen and (max-width: 720px) {
    .footer li {
        display: inherit;
        margin-right: 10%;    
    }
}

@media screen and (max-width: 600px) {
    
    .blog-post {
        width: 90%;
    }
    
    #welcome {
        width: 100%;
        line-height: 120%;
    }
    
    .infoheader {
        width: 100%;
    }
}


@media screen and (max-device-width: 500px) {
    
    .blog-post {
        width: 90%;
    }
    
    h1 {
        font-size: 7em;
    }
    
    h2 {
        font-size: 4em;
        line-height: 150%;
    }
    
    h3 {
        font-size: 2em;
    }
    
    .indexbody {
        background: url(metsa.png) no-repeat center center fixed;
        height: 100%;
    }
     
    .footer li {
        display: inherit;
        
    }
    
    .navigation a {
        padding: 30px;
        font-size: 2em;
    }
    
    .indexbody {
        height: 100%;
        width: auto;
    }
    
    header {
        height: 200%;
    }
}